<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eee.voltagefive.planteeei">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddPlant"
            android:label="@string/title_activity_addplant"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.eee.voltagefive.planteeei.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eee.voltagefive.planteeei.AddPlant" />
        </activity>

        <activity android:name=".Materials"
            android:label="@string/title_activity_materials"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.eee.voltagefive.planteeei.AddPlant">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eee.voltagefive.planteeei.Materials" />

        </activity>

        <activity
            android:name=".PlantSteps"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:label="@string/title_activity_plant_steps"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.eee.voltagefive.planteeei.Materials">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eee.voltagefive.planteeei.PlantSteps" />
        </activity>

        <activity android:name=".PlantList" />

        <activity android:name=".x_plant_statistic" />

        <activity
            android:name=".PlantStats"
            android:label="@string/title_activity_plant_stats"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.eee.voltagefive.planteeei.PlantStats">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eee.voltagefive.planteeei.PlantStats" />

        </activity>

        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>